/* Styles below are mostly copy of the default theme styles. We need to move
   the sidebar container styles to our own container that contains both:
	 the original sidebar (with styles on the root element removed) and CodeFund
	 container */

.extra {
	min-height: 9rem;
	padding: 1rem 1.5rem;
}

/* HACK: Horizontal Carbon Ads layout */
@media (max-width: 996px) {
	[class*='docSidebarContainer'] {
		--ifm-toc-border-color: transparent;
		width: auto !important;
	}
}

@media (min-width: 997px) {
	.sidebar {
		height: 100vh;
		overflow-y: auto;
		position: sticky;
		top: 0;
	}

	/* HACK: Remove styles from the theme sidebar container */
	.sidebar > *:first-child + * {
		height: initial;
		overflow: initial;
		position: initial;
		top: initial;
		padding-top: initial;
	}

	.sidebar::-webkit-scrollbar {
		width: 7px;
	}

	.sidebar::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 10px;
	}

	.sidebar::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}

	.sidebar::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.extra {
		min-height: 17.2rem;
		padding: 0.5rem;
		padding-top: calc(0.5rem + var(--ifm-navbar-height));
	}
}
