:global #carbonads {
	position: relative;
	max-width: 40rem;
	margin: 0 auto;
	padding: 0.25rem;
	outline: 1px solid var(--ifm-hr-border-color);
}

:global #carbonads:focus-within {
	outline: 2px solid var(--ifm-color-primary);
}

.carbon :global a {
	color: inherit;
	text-decoration: none;
}

.carbon :global a:hover,
.carbon :global a:active,
.carbon :global a:focus {
	outline: 0;
	color: var(--ifm-color-primary);
}

.carbon :global span {
	position: relative;
	display: block;
	overflow: hidden;
}

.carbon :global(.carbon-wrap) {
	display: flex;
	line-height: 1.3;
}

.carbon :global(.carbon-img) {
	display: block;
	margin-right: 1rem;
	line-height: 1;
}

.carbon :global(.carbon-img) img {
	display: block;
}

.carbon :global(.carbon-text) {
	display: block;
	padding-bottom: 1.5rem;
	font-size: 90%;
	text-align: left;
}

.carbon :global(.carbon-poweredby) {
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
	text-transform: uppercase;
	letter-spacing: 0.1ch;
	font-weight: 600;
	font-size: 65%;
	line-height: 1;
}

@media (min-width: 997px) {
	.carbon :global(.carbon-wrap) {
		display: block;
	}

	.carbon :global(.carbon-img) {
		margin-left: 0;
		margin-bottom: 0.5rem;
	}

	.carbon :global(.carbon-text) {
		padding-bottom: 0;
	}

	.carbon :global(.carbon-poweredby) {
		position: static;
	}
}
